.title {
    margin: 0 0 12px;
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
    color: var(--black);
}

.postTitle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--gray);
    margin-bottom: 6px;
}

.date::after,
.readingTime::after {
    content: '·';
    margin: 0 5px;
}

.article {
    max-width: 660px;
}

.article > figure {
    max-width: 100%;
}

.article > figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.article > p {
    margin-bottom: 15px;
}

@media screen and (max-width: 570px) {
    .title {
        font-size: 26px;
        line-height: 28px;
    }

    .article > figure {
        margin: 0 0 15px;
    }
}