.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--gray);

    max-width: 1110px;
    margin: 0 auto;
    padding: 10px 5px;
    height: 100%;
}

@media (max-width: 425px) {
    .footer {
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
}